<div class="row col-lg-12">
    <!-- Page Heading -->
    <div class="page-title">
	    <h3>Dashboard</h3>
	    <div class="page-breadcrumb">
		    <ol class="breadcrumb">
			<li><a href="#!/admin/dashboard/bookingListing">Home</a></li>
			<li><a href="#!/admin/dashboard/eventListing">Events</a></li>
		    </ol>
	    </div>
	</div>
	<div class="panel panel-white">
	    <div class="panel-heading">
	        <h3><i class="fa fa-money fa-fw"></i> Buildings listing </h3>
	    </div>

	    <div class="panel-body">
	    	<div class="gridStyle" ng-grid="gridOptions"> </div>
			<span style="display:none;" ng-bind="info = gridOptions.selectedItems[0]"> </span> <br>
			<div class="text-right">
		        <a role="button" class="btn btn-primary btn-lg pull-right vendor-btn" data-ng-click="addEvent()" href="javascript:void(0);">Add Available Buildings<i class="fa fa-plus"></i></a>
		    </div>
	    </div>
	</div>
</div>

<!-- edit Event script template starts here -->
<script type="text/ng-template" id="editEventTemplate.html">
	<div class="modal-content">
		<form name="editEventTplFrm">
			<div class="modal-header"> <!-- model header starts from here -->
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"> <span aria-hidden="true"> x </span></button>
				<center><h4 class="modal-title" id="myModalLabel">Update Available Buildings</h4> </center>
			</div>
			<!-- model header closed from here -->

			<div class="modal-body"> <!-- model body starts here -->
				<span ng-show="showForgetSuccess" >
				  <alert  type="success" close="closeAlert('success')">
				  {{successMsg}} </alert>
				</span>
				<span ng-show="showForgetError" >
					<alert type ="danger" close="closeAlert('error')">
					{{errorMsg}} </alert>
				</span>

				<div class="chn-pass-content">
					<div class="col-lg-12">
						<div class="form-group">
							<div ng-class="{ 'has-error' : editEventTplFrm.eventname.$invalid && !editEventTplFrm.eventname.$pristine }">
								<label>Building Name:</label>
								<input class="form-control input-lg" name="eventname" type="text" data-ng-model="info.name" placeholder="Building Name" ng-pattern="/^[a-zA-Z ]*$/" required>
								<span ng-show="editEventTplFrm.eventname.$error.required && !editEventTplFrm.eventname.$pristine" class="help-block">Please fill Building name</span>
			  					<span ng-show="(editEventTplFrm.eventname.$error.pattern)" class="help-block">Please use characters only</span>
							</div>
						</div>
					</div>

					<div class="col-lg-12">
						<div class="form-group">
							<div ng-class="{'has-error' : editEventTplFrm.eventplace.$invalid && !editEventTplFrm.eventplace.$pristine }">
								<label>Building Place:</label>
								<input class="form-control input-lg" name="eventplace" type="text" data-ng-model="info.place" placeholder="Place Name" autocomplete="off" ng-pattern="/^[a-zA-Z ]*$/" required>
								<span ng-show="editEventTplFrm.eventplace.$error.required && !editEventTplFrm.eventplace.$pristine" class="help-block">Please fill Building Place</span>
			  					<span ng-show="(editEventTplFrm.eventplace.$error.pattern)" class="help-block">Please use characters only</span>
							</div>
						</div>
					</div>

					<div class="col-lg-12">
						<div class="form-group">
							<h4>Contact Person</h4>
							<input type="text" class="form-control input-lg" name="eventclient" ng-model="myselect" readonly="true">
						</div>
					</div>

					<div class="col-lg-12">
						<div class="form-group">
							<label>Date:</label>
							<div class="dateFilter">
								<div class="calanderTip">
									<datepicker ng-model='activeDate' name="startFrom" min-date="minDate" multi-select='selectedDates' ng-click="addDate(selectedDates)">
									</datepicker>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div> <!-- model body starts here -->
			<div class="modal-footer"> <!-- model footer starts here -->
				<button class="btn btn-danger" data-ng-click="cancel()">Cancel</button>
				<input type="submit" value="Submit" class="btn btn-success" ng-disabled="editEventTplFrm.$invalid"  ng-class="{'disabled' : editEventTplFrm.$invalid}" novalidate ng-click="editEvent(info)">
			</div> <!-- model footer closed here -->
		</form>
	</div> <!-- model content clsoed here -->
</script>

<!-- add Event script template starts here -->
<script type="text/ng-template" id="addEventTemplate.html">
	<div class="modal-content">
		<form name="addEventTplFrm">
			<div class="modal-header"> <!-- model header starts from here -->
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"> <span aria-hidden="true"> x </span></button>
				<center><h4 class="modal-title" id="myModalLabel">Add Available Buildings</h4> </center>
			</div>
			<!-- model header closed from here -->

			<div class="modal-body"> <!-- model body starts here -->
				<span ng-show="showForgetSuccess" >
				  <alert  type="success" close="closeAlert('success')">{{successMsg}}</alert>
				</span>
				<span ng-show="showForgetError" >
					<alert type ="danger" close="closeAlert('error')"> {{errorMsg}} </alert>
				</span>

				<div class="chn-pass-content">
					<div class="col-lg-12">
						<div class="form-group">
							<div ng-class="{ 'has-error' : addEventTplFrm.eventname.$invalid && !addEventTplFrm.eventname.$pristine }">
								<label>Building Name:</label>
								<input class="form-control input-lg" name="eventname" type="text" data-ng-model="info.name" placeholder="Building Name" ng-pattern="/^[a-zA-Z ]*$/" required>
								<span ng-show="addEventTplFrm.eventname.$error.required && !addEventTplFrm.eventname.$pristine" class="help-block">Please fill Building name</span>
			  					<span ng-show="(addEventTplFrm.eventname.$error.pattern)" class="help-block">Please use characters only</span>
							</div>
						</div>
					</div>

					<div class="col-lg-12">
						<div class="form-group">
							<div ng-class="{ 'has-error' : addEventTplFrm.eventplace.$invalid && !addEventTplFrm.eventplace.$pristine }">
								<label>Building Place:</label>
								<input class="form-control input-lg" name="eventplace" type="text" data-ng-model="info.place" placeholder="Place Name" autocomplete="off" ng-pattern="/^[a-zA-Z ]*$/" required>
								<span ng-show="addEventTplFrm.eventplace.$error.required && !addEventTplFrm.eventplace.$pristine" class="help-block">Please fill Building Place</span>
			  					<span ng-show="(addEventTplFrm.eventplace.$error.pattern)" class="help-block">Please use characters only</span>
							</div>
						</div>
					</div>

					<div class="col-lg-12">
						<div class="form-group">
							<div ng-class="{ 'has-error' : addEventTplFrm.eventclient.$invalid && !addEventTplFrm.eventclient.$pristine }">
							   <h4>Contact Person</h4>
							   <select class="form-control input-lg" name="eventclient" data-ng-model="info.userId" ng-options="user.id as user.displayName for user in users" required>
							   	<option value="">--Select Contact Person--</option>
								</select>
								<span ng-show="addEventTplFrm.eventclient.$invalid && !addEventTplFrm.eventclient.$pristine" class="help-block">Please Choose Contact Person</span>
							</div>
						</div>
					</div>

					<div class="col-lg-12">
						<div class="form-group">
							<label>Date:</label>
							<div class="dateFilter">
								<div class="calanderTip">
									<datepicker ng-model='activeDate' name="startFrom" min-date="minDate" multi-select='selectedDates' ng-click="addDate(selectedDates)">
									</datepicker>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- model body starts here -->
			<div class="modal-footer"> <!-- model footer starts here -->
				<button class="btn btn-danger" data-ng-click="cancel()">Cancel</button>
				<input type="submit" value="Submit" class="btn btn-success" ng-disabled="addEventTplFrm.$invalid" ng-class="{'disabled' : addEventTplFrm.$invalid}" novalidate ng-click="addEvent(info)">
			</div> <!-- model footer closed here -->
		</form>
	</div> <!-- model content closed here -->
</script>
